In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\20115\Downloads\Telegram Desktop\insurance-data.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
print("\nFirst few rows of the DataFrame:")
print(df.head())

First few rows of the DataFrame:
   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

**What is the percentage of female smokers?**

In [35]:
female_smokers = df[(df['sex'] == 'female') & (df['smoker'] == 'yes')]
percentage_female_smokers = (len(female_smokers) / len(df[df['sex'] == 'female'])) * 100
print(f"Percentage of female smokers: {percentage_female_smokers:.2f}%")

Percentage of female smokers: 17.37%

**Which city has the maximum insurance rate?**

In [39]:
max_insurance_city = df.groupby('region')['charges'].sum().idxmax()
print(f"City with the maximum insurance rate: {max_insurance_city}")

City with the maximum insurance rate: southeast

**Which gender has the maximum insurance rate?**

In [46]:
max_insurance_gender = df.groupby('sex')['charges'].sum().idxmax()
print(f"Gender with the maximum insurance rate: {max_insurance_gender}")

Gender with the maximum insurance rate: male

**what is the average percentage of female smoker age?**

In [49]:
average_age_female_smokers = female_smokers['age'].mean()
print(f"Average age of female smokers: {average_age_female_smokers:.2f} years")

Average age of female smokers: 38.61 years

**What is the percentage of males who has children insurance?**

In [86]:
males_with_children = df[(df['sex'] == 'male') & (df['children'] > 0)]
percentage_males = (len(males_with_children) / len(df[df['sex'] == 'male'])) * 100
print(f"Percentage of males who have children insurance: {percentage_males:.2f}%")

Percentage of males who have children insurance: 57.84%

**What are the percentage of the females who hase children insurance?**

In [91]:
females_with_children = df[(df['sex'] == 'female') & (df['children'] > 0)]
percentage_females = (len(females_with_children) / len(df[df['sex'] == 'female'])) * 100
print(f"Percentage of females who have children insurance: {percentage_females:.2f}%")

Percentage of females who have children insurance: 56.34%

**what are the maximum number of children associated with male parent assurance?**

In [96]:
max_children_with_male = df[df['sex'] == 'male']['children'].max()
print(f"Maximum number of children associated with male parent insurance: {max_children_with_male}")

Maximum number of children associated with male parent insurance: 5

**what are the maximum number of children associated with female parent assurance?**

In [102]:
max_children_with_female = df[df['sex'] == 'male']['children'].max()
print(f"Maximum number of children associated with female parent insurance: {max_children_with_female}")

Maximum number of children associated with female parent insurance: 5

**Which city has the maximum female insurance total charge?**

In [107]:
city_with_the_maximum_female_insurance=df[df['sex']=='female'].groupby('region')['charges'].sum() .idxmax()
print(f"City with the maximum female insurance total charge: {city_with_the_maximum_female_insurance}")

City with the maximum female insurance total charge: southeast